<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="trillionaire"/>

    <!--MVC驱动 controller-->
    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

    <!--针对注解配置@RequestMapping :
        RequestMappingHandlerMapping 替代了 DefaultAnnotationHandlerMapping-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping " />

    <mvc:interceptors>
        <!-- 配置自定义拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/user/follow"/>
            <!-- 需排除拦截的地址 -->
            <mvc:exclude-mapping path="/index.html"/>
            <mvc:exclude-mapping path="/login.html"/>
            <bean class="trillionaire.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"></bean>
    </mvc:interceptors>
    <!-- 视图解析 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"></property>
        <property name="suffix" value=".html"></property>
    </bean>
    <!-- 用于将对象转换为 JSON  转换器-->
    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
    <bean id="stringConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!--RequestMappingHandlerAdapter :和上面的RequestMappingHandlerMapping配对使用-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter ">
        <property name="messageConverters">
            <list>
                <ref bean="stringConverter" />
                <ref bean="jsonConverter" />
            </list>
        </property>
    </bean>

</beans>