.button-big {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    background-color: transparent;
    cursor: pointer;
    display: inline;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #FFF;
    border-width: 1px;
    border-style: solid;

    font-size: 110%;
}

.button-big:focus {
    outline: none;
}

.button-big:hover {
    color: rgb(16, 32, 58);
    background-color: #FFF;
}

.button-big:active {
    color: #FFF;
    background-color: rgb(16, 32, 58);
}

.button-big a:link {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}

.button-big a:hover {
    color: rgb(16, 32, 58);
    font-style: normal;
    text-decoration: none;
}

.button-big a:visited {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}

.button-blue {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    background-color: rgb(102, 102, 255);
    cursor: pointer;
    display: inline;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #FFF;
    border-width: 1px;
    border-style: solid;

    font-size: 110%;
}

.button-blue:focus {
    outline: none;
}

.button-blue:hover {
    color: rgb(102, 102, 255);
    background-color: #FFF;
}

.button-blue:active {
    color: #FFF;
    background-color: rgb(102, 102, 255);
}

.button-page {
    cursor: pointer;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    border: 1px solid #0080ff;
    border-radius: 5px;
    background-color: #0080ff;
    cursor: pointer;
    display: inline;
    margin: 10px;
    padding: 0.6% 1.2%;

    font-size: 90%;
}

.button-page:focus {
    outline: none;
}

.button-page:hover {
    color: #0080ff;
    background-color: #FFF;
    border: 1px solid #0080ff;
}

.button-page:active {
    color: #FFF;
    background-color: #0080ff;
    border: 1px solid #0080ff;
}
