.button-big {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #FFF;

    font-size: 110%;
}

.button-big:focus {
    outline: none;
}

.button-big:hover {
    color: rgb(16, 32, 58);
    background-color: #FFF;
}

.button-big:active {
    color: #FFF;
    background-color: rgb(16, 32, 58);
}

.button-big a:link {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}

.button-big a:hover {
    color: rgb(16, 32, 58);
    font-style: normal;
    text-decoration: none;
}

.button-big a:visited {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}

.button-blue {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    background-color: #6699FF;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #FFF;

    font-size: 110%;
}

.button-blue:focus {
    outline: none;
}

.button-blue:hover {
    color: #6699FF;
    background-color: #FFF;
    border-color: #6699FF;
}

.button-blue:active {
    color: #FFF;
    background-color: #6699FF;
}

.button-page {
    cursor: pointer;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    border: 1px solid #6699FF;
    border-radius: 5px;
    background-color: #6699FF;
    display: inline-block;
    margin: 1%;
    padding: 0.8% 1.2%;

    font-size: 90%;
}

.button-page:focus {
    outline: none;
}

.button-page:hover {
    color: #6699FF;
    background-color: #FFF;
    border: 1px solid #6699FF;
}

.button-page:active {
    color: #FFF;
    background-color: #6699FF;
    border: 1px solid #6699FF;
}

.button-red {
    cursor: pointer;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    border: 1px solid #CC6666;
    border-radius: 5px;
    background-color: #CC6666;
    display: inline-block;
    margin: 1%;
    padding: 0.8% 1.2%;

    font-size: 90%;
}

.button-red:focus {
    outline: none;
}

.button-red:hover {
    color: #CC6666;
    background-color: #FFF;
    border: 1px solid #CC6666;
}

.button-red:active {
    color: #FFF;
    background-color: #CC6666;
    border: 1px solid #CC6666;
}

.button-green {
    cursor: pointer;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    border: 1px solid #99CC99;
    border-radius: 5px;
    background-color: #99CC99;
    display: inline-block;
    margin: 1%;
    padding: 0.8% 1.2%;

    font-size: 90%;
}

.button-green:focus {
    outline: none;
}

.button-green:hover {
    color: #99CC99;
    background-color: #FFF;
    border: 1px solid #99CC99;
}

.button-green:active {
    color: #FFF;
    background-color: #99CC99;
    border: 1px solid #99CC99;
}

#save-already {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: lightseagreen;
    display: inline-block;
    margin: 10px;
    padding: 6px 11px;
    font-size: 110%;
}

.select-menu-item {
    display: inline-block;
    cursor: pointer;
    color: #777;
    font-size: 100%;
    border: none;
    padding: 0 0.5%;
}

.select-menu-item:hover {
    color: #6633FF;
}

.select-menu-item:focus {
    outline: none;
}

.select-menu-item-active {
    display: inline-block;
    color: #FFF;
    font-size: 100%;
    background-color: #6699FF;
    border-radius: 5px;
    border-color: transparent;
    padding: 0 0.5%;
}

.select-menu-item-active:hover {
    color: #FFF;
}

.select-menu-item-active:focus {
    outline: none;
}