.date-picker {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 85%;
    padding: 0.6% 1%;
    border-color: #000;
    border-width: 1px;
    border-radius: 5px;
    margin: 0 1%;

    color: #0080ff;
    width: 7%;
    outline: none;
}
