.date-picker {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 85%;
    padding-top: 0.4%;
    border: none;
    border-bottom: 1px solid #DDD;

    color: #6699FF;
    width: 16%;
    outline: none;
}
