#footer {
    background-color: rgb(25, 44, 72);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    text-align: center;
    color: #FFF;
    font-size: 80%;
    font-weight: lighter;

    padding: 5px;
}
