#search-area {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.log-button {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    background-color: #6699FF;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;

    font-size: 15px;
}

.log-button:focus {
    outline: none;
}

.log-button:hover {
    color: #6699FF;
    background-color: #FFF;
    border-color: #6699FF;
}

#search-input {
    font-size: 90%;
    border: 1px solid #6699FF;
    border-radius: 5px;
    padding: 1.4%;
    color: #6699FF;
    width: 100%;
    outline: none;
}

.associate-board {
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    color: black;
    width: 100%;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.associate-item {

}

.associate-item:hover {
    color: white;
    background-color: #6699FF;
}

.logout-extend {
    position: absolute;
    border-radius: 5px;
    width: 80%;
    padding: 5%;
    background-color: white;
    color: black;
    border-color: gray;
    text-align: center;
    visibility: hidden;
    left: 5%;
    cursor: pointer;
}

.item-active {
    background-color: #FFF;
    color: #6699FF;
}