#search-area {
    position: relative;
    display: inline-block;
    margin: 10px 10px 10px 20px;
    width: 300px;
}

.log-button {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    background-color: #6699FF;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 300;
    float: right;
}

.log-button:focus {
    outline: none;
}

.log-button:hover {
    color: #6699FF;
    background-color: #FFF;
    border-color: #6699FF;
}

#search-input {
    font-size: 90%;
    border: 1px solid #6699FF;
    border-radius: 20px;
    padding: 1.5% 5%;
    color: #6699FF;
    width: 100%;
    outline: none;
}

.associate-board {
    position: absolute;
    z-index: 10;
    color: #777;
    margin-left: 5%;
    font-size: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #6699FF;
    border-right: 1px solid #6699FF;
    border-bottom: 1px solid #6699FF;
}

.associate-item {

}

.associate-item:hover {
    color: white;
    background-color: #6699FF;
}

.logout-extend {
    position: absolute;
    border-radius: 20px;
    width: 80%;
    padding: 3px 10px;
    background-color: white;
    color: #6699FF;
    /*border-color: gray;*/
    text-align: center;
    visibility: hidden;
    left: 5%;
    cursor: pointer;
}

.item-active {
    border: 1px solid #FFF;
}