#help-page ul {
    /*border-bottom: 1px solid #DDD;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 100%;
    margin: 3% 30% 3% 0;
}

#help-page li {
    font-size: 90%;
    margin: 1% 0;
    text-align: justify;
}

#help-page a {
    color: #6699FF;
}

#help-page a:hover {
    color: #6633FF;
}

.page-content-long {
    position: fixed;
    top: 25%;
    padding: 1% 2%;
    border-top: 2px solid #6699FF;
    border-right: 2px solid #6699FF;
    border-bottom: 2px solid #6699FF;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
}

.page-content-long li {
    list-style: square;
    border-bottom: 1px dashed #AAA;
    font-size: 90%;
    cursor: pointer;
    margin: 2% 0;
    color: #777;
}

.page-content-long li:hover {
    color: #6699FF;
}

code {
    background-color: rgba(255, 204, 204, 0.3);
    color: #CC6666;
    font-family: monospace;
    border-radius: 5px;
    padding: 0.2% 0.5%;
    font-size: 90%;
    font-weight: 300;
}

h3 code {
    background-color: #FFF;
    color: #CC6666;
    font-family: monospace;
    border-radius: 5px;
    padding: 0.2% 0.5%;
    font-size: 100%;
    line-height: 300%;
}
