#whole-page {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    text-align: center;
    padding: 8% 2%;
    color: #FFF;
    background-size: 100% 100%;
    background: url("../img/log.jpg") 10% 5%;
}

#whole-page p {
    font-weight: 300;
    font-size: 110%;
    color: #FFF;
}

#whole-page fieldset {
    border-color: transparent;
}

#log-part,
#register-part {
    margin: 0 30%;
    padding: 2% 1%;
    border-radius: 5px;
    border: 2px solid #6699FF;

    background-color: rgba(112, 152, 248, 0.5);
    position: relative;
}

#whole-page h1 {
    color: #FFF;
    margin: 5%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
}

#whole-page input {
    font-weight: 300;
    font-size: 90%;
    width: 50%;
    border-radius: 20px;
    border: 2px #FFF;

    padding: 1% 2%;
    margin: 2%;
}

#whole-page input:focus {
    outline: none;
}

#log-label,
#register-label {
    cursor: pointer;
    margin: 2%;
}

.log-buttons {
    margin-top: 5%;
}

#log-tip,
#reg-tip {
    background-color: #CC6666;;
    color: #FFF;
    font-size: 80%;
    font-weight: 300;
    margin: 0 30%;
}
