#whole-page {
    background-image: url("../img/background3.png");
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    text-align: center;
    padding: 3% 2%;
    color: #FFF;
    background-size: 110% 110%;
    background-position: 30% 50%;
}

#whole-page p {
    font-weight: 300;
    font-size: 110%;
}

#whole-page fieldset {
    border-color: transparent;
}

#log-part,
#register-part {
    margin: 0 30%;
    padding: 2% 1%;
    border-color: #FFF;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;

    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

#whole-page h1 {
    margin: 5%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
}

#whole-page input {
    font-weight: 300;
    font-size: 90%;
    width: 50%;
    border-radius: 5px;
    border-color: #FFF;
    border-width: 2px;

    padding: 1.5%;
    margin: 2%;
}

#whole-page input:focus {
    outline: none;
}

#log-label,
#register-label {
    cursor: pointer;
    margin: 2%;
}

.log-buttons {
    margin-top: 5%;
}

#log-tip {
    color: red;
    font-size: 90%;
    font-weight: 350;
}

#reg-tip {
    color: red;

    font-size: 90%;
    font-weight: 350;
}
