* {
    margin: 0;
    padding: 0;

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
}

a {
    color: #FFF;
    font-style: normal;
    text-decoration-line: none;
}

a:hover,
a:link,
a:visited {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}
