#title {
    background: url("../img/background.jpg");
    padding: 3%;
    background-size: cover;
    color: #FFF;
}

#main-title {
    font-size: 30px;
}

#english-title {
    font-size: 30px;
    font-style: italic;
}

#sub-title {
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: 400;
}

#help-button {
    margin-right: 3%;
}

#introduce {
    background-color: rgb(102, 102, 255);
    text-align: center;
    color: #FFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    padding: 5% 10% 0 10%;

    font-weight: lighter;
}

#introduce h2 {
    margin-bottom: 3%;
}

#introduce-function {
    background-color: rgb(102, 102, 255);
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-weight: lighter;
}

#introduce-function li {
    display: inline-block;
    width: 15%;
    font-size: 18px;
    color: #FFF;
    margin: 3%;
    cursor: auto;
}

#introduce-function h1 {
    border-radius: 100px;
    border: 5px solid white;
    background-color: white;
    color: rgb(102, 102, 255);

    font-size: 300%;
    margin-top: 20%;
}

#introduce-function h4 {
    margin: 4% 0 0.5% 0;
}

#introduce-end {
    background-color: rgb(102, 102, 255);
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-weight: lighter;
    padding: 2%;
}
