#search-box {
    font-size: 90%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1.4%;
    margin: 0 1%;

    color: #0080ff;
    width: 38%;
    outline: none;
}

.input-area {
    margin: 1%;
}

.info-board {
    float: right;
    border-left: 1px solid #AAA;
    width: 30%;
    padding: 1%;
    margin-bottom: 2%;
}

.stock-name {
    margin-left: 1%;
    font-size: 150%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
}

.stock-code {
    font-size: 100%;
    font-weight: 300;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin-right: 1%;
}

.stock-code a {
    color: #0080ff;
}

.stock-code a:hover {
    color: #0080ff;
    text-decoration: underline;
    cursor: pointer;
}

.spec-figure,
.index-spec-figure {
    display: inline-block;
    width: 20%;
    background-color: transparent;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 85%;

    margin: 0.8%;
    padding: 1%;
    text-align: center;
}

.spec-figure h2,
.index-spec-figure h2 {
    font-weight: 400;
}

.spec-figure p,
.index-spec-figure p {
    margin-top: 10%;
    font-weight: 200;
}

#main-figure {
    margin: 5% auto;
}

.spec-func {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin: 1%;
    padding: 1%;

    overflow: hidden;
    cursor: pointer;

    width: 40%;
    display: inline-block;
}

.spec-func h2 {
    text-align: left;
    font-size: 120%;
    margin-left: 2%;
    color: #FFF;
}

.spec-func p {
    margin: -8% 5% 0 0;
    font-weight: 300;
    text-align: right;
    color: #FFF;
    font-size: 130%;

    transform: translate3d(0, 20px, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.spec-func h5 {
    opacity: 0;
    margin: 0 5% 0 0;
    font-weight: normal;
    text-align: right;
    color: #FFF;
    font-size: 100%;
    transform: translate3d(0, 20px, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.hot-func {
    background-color: rgb(255, 153, 51);
}

.indu-func {
    background-color: rgb(153, 204, 153);
}

.board-func {
    background-color: rgb(204, 153, 102);
}

.comp-func {
    background-color: rgb(153, 153, 255);
}

.other-function {
    margin: 5% auto;
}

.spec-func:hover h5,
.spec-func a:hover h5,
.spec-func:hover p,
.spec-func a:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.spec-func a {
    color: #000;
}

.margin {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin: 5% 1%;
    padding: 3% 1%;

    background-color: red;
    color: #FFF;
}

.rank {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin: 5% 1%;
    padding: 1% 1%;

    overflow: hidden;
    cursor: pointer;
}

.rank h2 {
    text-align: left;
    font-size: 150%;
    margin-left: 2%;
    color: #FFF;
}

.rank h5 {
    opacity: 0;
    margin: -2% 5% 0 0;
    font-weight: 300;
    text-align: right;
    color: #FFF;
    font-size: 100%;
    transform: translate3d(0, 20px, 0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.rank:hover h5,
.rank a:hover h5 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.index-fig {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    display: inline-block;
    width: 30%;
    border: 1px solid #AAA;
}

.index-spec-figure h2 {
    font-size: 80%;
}

.index-spec-figure p {
    color: red;
    border-top: 1px solid #555;
    padding-top: 5%;
    font-size: 120%;
}

.rank-table {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    text-align: center;
}

.rank-table li {
    display: inline-block;
    list-style: none;
    margin: 2% 0.5%;
    width: 16%;

    border: 1px solid #AAA;
}

.rank-head {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 100%;
    padding: 2% 15%;
}

.rank-margin {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 180%;
    padding: 0 15%;
}

.rank-sta {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 80%;
    padding: 5% 15%;
    color: #000;
}

.rank-stock {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 100%;
    padding: 5% 15% 0% 15%;
    border-top: 1px solid #AAA;
}

.rank-stock-margin {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    font-size: 90%;
    padding: 5% 15%;
}

.rank-table-rise .rank-top {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    cursor: pointer;
    color: red;
}

.rank-table-rise .rank-top:hover {
    background-color: red;
    color: white;
}

.rank-table-rise .rank-bottom {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    background-color: #EEE;
    cursor: pointer;
}

.rank-table-rise .rank-bottom:hover {
    background-color: red;
    color: white;
}

.rank-table-fall .rank-top {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    cursor: pointer;
    color: green;
}

.rank-table-fall .rank-top:hover {
    background-color: green;
    color: white;
}

.rank-table-fall .rank-bottom {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    background-color: #EEE;
    cursor: pointer;
}

.rank-table-fall .rank-bottom:hover {
    background-color: green;
    color: white;
}

.whole-rank-div {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin: 0 auto;
}

.whole-rank-table {
    margin: 0.5%;
    width: 40%;
    display: inline-table;
    border-collapse: collapse;
    text-align: center;
}

.whole-rank-table th {
    color: #AAA;
    font-size: 80%;
    font-weight: 400;
}

.whole-table {
    margin: 0.5%;
    width: 90%;
    display: inline-table;
    border-collapse: collapse;
    text-align: center;
}

.whole-table th {
    color: #AAA;
    font-size: 80%;
    font-weight: 400;
}

.whole-table td {
    border-bottom: 1px solid #AAA;
    border-top: 1px solid #AAA;
    padding: 0.5% 0;
}

.whole-table tr td:first-child + td + td + td,
.whole-table tr td:first-child + td + td + td + td {
    color: red;
}

.page-content {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    position: fixed;
    top: 26%;
    background-color: rgb(25, 44, 72);
    padding: 3% 3%;
    border: 1px solid rgb(25, 44, 72);
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8%;
    color: #FFF;
}

.page-content li {
    list-style: square;
    cursor: pointer;
    margin: 20% 0;
}

.page-content li:hover {
    color: red;
}

.page-content-fix {

    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    width: 13%;
    padding-left: 5%;
    margin-bottom: 3%;
    float: left;
    border-right: 1px solid #AAA;
}

.page-content-fix li {
    list-style: square;
}

.page-content-fix li ul li {
    cursor: pointer;
    list-style: none;
}

.page-content-fix li ul li:hover {
    color: red;
}
