#title {
    background-image: url("../img/page-title-bg.png");
    background-size: 110% 110%;
    opacity: 0.8;
    background-position: 25% 45%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    padding: 1% 2%;
    color: #FFF;
}

.page-main-title {
    font-size: 200%;
}

.page-sub-title {
    font-size: 60%;
    font-weight: 300;
}
