#title {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    padding: 1% 2%;
    color: #000;
}

.page-main-title {
    font-size: 200%;
}

.page-sub-title {
    font-size: 60%;
    font-weight: 300;
}

.page-main-title a {
    color: #000;
}
