#pagiDiv {
    margin-top: 2%;
}

#spanFirst,
#spanPre,
#spanNext,
#spanLast {
    display: inline-block;
    border: 1px solid #000;
    padding: 0.5% 1%;
    border-radius: 5px;
    margin: 0.5%;
    color: #AAA;
    border-color: #AAA;
}


#spanFirst a,
#spanPre a,
#spanNext a,
#spanLast a {
    color: #0080ff;
}
