.stra-table, #follow-table {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin: 3%;
    width: 65%;
    display: inline-table;
    border-collapse: separate;
    text-align: center;
    border: 2px solid #6699FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stra-table caption, #follow-table caption {
    background-color: #6699FF;
    text-align: center;
    padding: 3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stra-table caption p, #follow-table caption p {
    font-size: 120%;
    color: #fff;
    letter-spacing: 5px;
}

.stra-table th, #follow-table th {
    color: #AAA;
    font-weight: 400;
}

.stra-table td, #follow-table td {
    border-top: 1px dashed #AAA;
    padding: 0.5% 0;
    font-size: 90%;
}

.stra-table tr td:first-child,
.stra-table tr td:first-child a {
    cursor: pointer;
    color: #000;
}

.stra-table tr td:first-child:hover,
.stra-table tr td:first-child a:hover {
    color: #6699FF;
}

.stra-delete-button, #follow-table a {
    cursor: pointer;
    display: inline-block;
    color: #6699FF;
}

.stra-delete-button:hover, #follow-table a:hover {
    color: #6633FF;
}

.log-area {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    height: 108px;
    border: 1px solid #AAA;
    font-size: 80%;
    overflow: auto;
}

.stra-chart-area {
    height: 300px;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    font-size: 80%;
}

.log-title {
    background-color: #AAA;
    color: #FFF;
    font-size: 90%;
    padding: 0.5% 2%;
}

#log-content {
    padding: 1%;
}

.input-box {
    font-size: 120%;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 2% 1%;

    color: #6699FF;
    width: 80%;
    outline: none;
}

.stock-input-box {
    font-size: 90%;
    border: none;
    border-bottom: 1px solid #DDD;
    padding-top: 1%;

    color: #6699FF;
    width: 10%;
    outline: none;
    text-align: center;
}

.benchmark-input-box {
    font-size: 90%;
    border: none;
    border-bottom: 1px solid #DDD;
    padding-top: 1%;

    color: #6699FF;
    width: 17%;
    outline: none;
}

.num-box {
    font-size: 90%;
    border: none;
    border-bottom: 1px solid #DDD;
    padding-top: 1%;

    color: #6699FF;
    width: 7%;
    text-align: center;
    outline: none;
}

.editor-wrapper {
    width: 30%;
    float: left;
    margin-left: 15.5%;
}

.stra-button-group {
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    text-align: right;
    font-size: 90%;
}

.res-button-group {
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    font-size: 80%;
    padding: 0 2%;
}

#more-res-button-group {
    height: 65px;
}

#code {
    border: 1px solid #AAA;
}

.result-wrapper {
    width: 36.5%;
    float: right;
    display: inline-block;
    margin-right: 17.5%;
}

.stra-res-table {
    text-align: center;
    width: 100%;
    font-size: 90%;
    font-weight: 400;
    border-collapse: collapse;
    color: #595959;
}

.stra-res-table th {
    /*border-top: 1px #AAA solid;*/
    /*border-bottom: 1px #AAA solid;*/
    padding: 0.5% 0.5%;
    color: #6699FF;
    font-weight: 400;
    text-align: right;
}

.stra-res-table td {
    /*border-top: 1px #AAA solid;*/
    /*border-bottom: 1px #AAA solid;*/
    padding: 0.5% 0.5%;
    text-align: left;
}

select {
    font-size: 80%;
    border: none;
    border-bottom: 1px solid #DDD;
    border-radius: 0;

    color: #6699FF;
    outline: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;

    /*很关键：将默认的select选择框样式清除*/
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding: 1% 3% 0 0;
    margin-top: 1%;
}

select::-ms-expand {
    display: none;
}
