#top-bar {
    background-color: #6699FF;
    padding: 0 20% 0 5%;
    display: inline-block;
}

.head-button {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    padding: 2px 10px;
    border-radius: 20px;
    font-weight: 300;
}

#top-bar li:hover {
    background-color: #FFF;
    color: #6699FF;
}

#top-bar ul {
    margin: -2.5% 0 0 10%;
}