<!DOCTYPE html>
<html style="width: 100%">

<head>
    <meta charset="UTF-8">
    <title>Trillionaire - 量化交易系统</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top-bar.css">
    <link rel="stylesheet" href="css/log.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/angular/angular.js"></script>

    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div id="top-bar" onselectstart="return false;">
            <a href="index.html">
                <img src="img/logo.png" width="15%"></a>
            <ul align="center">

                <a href="stock.html">
                    <li id="spec-button" class="head-button">个股信息</li>
                </a>
                <li id="compare-button" class="head-button">股票对比</li>
                <li id="market-button" class="head-button">市场行情</li>
                <li id="strategy-button" class="head-button">策略回测</li>
                <li id="star-button" class="head-button">关注股票</li>
                <a href="login.html">
                    <li id="log-button" class="head-button" class="button-blue">用户登录</li>
                </a>
            </ul>
        </div>

        <div id="whole-page" onselectstart="return false;" ng-app="mainapp">
            <div id="log-part" ng-controller="UserController">
                <h1 data-scroll-reveal="enter from the top over 1s">登录Trillionaire</h1>
                <p data-scroll-reveal="enter from the top over 1s">与我们一起，成为夜幕下最闪亮的明灯</p>
                <a href="register.html">
                    <h5 id="log-label" data-scroll-reveal="enter from the bottom over 1s but wait 1.5s">没有账号？去注册>></h5>
                </a>

                <form method="post" data-scroll-reveal="enter from bottom over 1s but wait 0.5s">
                    <p><input type="text" name="username" placeholder="用户名" class="form-username form-control" id="log-username" ng-model="inputUsername"></p>
                    <p><input type="password" name="password" placeholder="密码" class="form-password form-control" id="log-password" ng-model="inputPassword"></p>
                    <div id="log-tip"></div>
                    <div>
                        <div class="log-buttons">
                            <button class="button-blue" id="login-button" type="button" ng-click="login()">登录</button>
                            <a href="javascript: history.go(-1);"><button class="button-big" id="log-back-button" type="button">取消</button></a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </header>

    <footer>
        <div id="footer" onselectstart="return false;">
            <div id="footer-div">
                <div>
                    <div class="big-li">
                        <h4>关于</h4>
                        <p><i class="fa fa-users"></i> 关于我们</p>
                        <p><i class="fa fa-envelope"></i> 联系我们</p>
                    </div>

                    <div class="big-li">
                        <h4>帮助</h4>
                        <p><i class="fa fa-file-o"></i> API文档</p>
                        <p><i class="fa fa-file-text-o"></i> 系统更新日志</p>
                        <p><i class="fa fa-comments-o"></i> 反馈</p>
                    </div>

                    <div class="big-li">
                        <h4>语言</h4>
                        <p><i class="fa fa-language"></i> 简体中文</p>
                        <p><i class="fa fa-language"></i> 繁體中文</p>
                        <p><i class="fa fa-language"></i> English</p>
                    </div>

                </div>
            </div>

            <div id="cr">Copyright &copy; 2017 All Rights Reserved</div>
        </div>
    </footer>
</body>

<script src="js/scrollReveal.js"></script>
<script>
    (function() {
        window.scrollReveal = new scrollReveal({
            reset: false,
            move: '50px'
        });
    })();

</script>

<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/user/login.js"></script>

</html>
