<!DOCTYPE html>
<html style="width: 100%">

<head>
    <meta charset="UTF-8">
    <title>Trillionaire - 量化交易系统</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top-bar.css">
    <link rel="stylesheet" href="css/page-title.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/page-main-body.css">
    <link rel="stylesheet" href="css/strategy.css">
    <link rel="stylesheet" href="css/date-picker.css">
    <link rel="stylesheet" href="css/header.css">

    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.theme.css">
    <link rel="stylesheet" href="js/jquery-ui/jquery-ui.structure.min.css">

    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">

    <script src="js/scrollReveal.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/angular/angular.js"></script>

    <script src="js/echarts.js"></script>
</head>

<body>
<header>
    <div id="top-bar" onselectstart="return false;">
        <a href="index.html">
            <img src="img/logo.png" width="15%" style="transform:translateY(15px)">
        </a>
        <ul align="center">
            <a href="stock.html?code=600000">
                <li id="spec-button" class="head-button">个股信息</li>
            </a>
            <a href="concern.html">
                <li id="star-button" class="head-button">关注股票</li>
            </a>
            <a href="strategy-content.html">
                <li id="strategy-button" class="head-button">策略回测</li>
            </a>
            <div id="search-area">
                <input id="search-input" placeholder="请输入需要查询的股票代码">
            </div>
            <a href="login.html">
                <li id="log-button" class="log-button">用户登录</li>
            </a>
        </ul>
    </div>
    <div>
        <div class="title-box">
            <div style="display: inline-block;">
                <div class="stock-name"><a href="strategy-content.html"><i class="fa fa-arrow-circle-left"></i></a>
                </div>
                <div id="stra-name" class="stock-name"></div>
                <input id="stra-name-input" class="stock-name input-box"
                       placeholder="给策略取一个名称吧"/>
                <div id="stra-return">
                    <!--<a href="strategy-content.html"-->
                    <!--target="_blank"><i class="fa fa-lightbulb-o"></i> 新手入门&nbsp;</a>-->
                    <!--|&nbsp;&nbsp;<a href="api.html" target="_blank"><i class="fa fa-book"></i> API文档</a>-->
                </div>
            </div>
            <div class="right-button" style="display: inline-block;">
                <a href="strategy-content.html"
                   target="_blank"><i class="fa fa-lightbulb"></i> 新手入门&nbsp;</a>
                |&nbsp;&nbsp;<a href="api.html" target="_blank"><i class="fa fa-book"></i> API文档</a>
            </div>
        </div>
    </div>

    <div ng-app="mainapp">
        <div ng-controller="BackTestController">
            <form method="post">
                <div class="editor-wrapper">
                    <div class="stra-button-group">
                        <div id="save-button" class="button-page" ng-click="saveStra()"><i class="fas fa-save"></i> 保存代码
                        </div>
                        <div id="save-already"><i class="fas fa-check-circle"></i> 保存成功</div>
                        <div class="button-page" onclick="switchTheme()" id="switch-theme-button"><i
                                class="fas fa-eye"></i> 护眼模式
                        </div>
                        <div id="remove-all" class="button-red" onclick="remove()"><i class="fas fa-eraser"></i> 清空面板
                        </div>
                    </div>
                    <div>
                    <pre id="code" class="ace_editor" style="min-height: 500px;"><textarea class="ace_text-input"
                                                                                           id="code-area"
                                                                                           spellcheck="false"
                                                                                           ng-model="content"></textarea></pre>
                    </div>
                </div>
                <div class="result-wrapper">
                    <div class="res-button-group">
                        股票¥ <input type="text" class="stock-input-box" ng-model="cash"/>
                        日期
                        <input class="date-picker" type="text" id="start-filter"
                               placeholder="开始日期" ng-model="sDate"/> ~
                        <input class="date-picker" type="text" id="end-filter"
                               placeholder="截止日期" ng-model="eDate"/>
                        <div class="button-page" ng-click="loadReturnLine()"><i class="fa fa-forward"></i> 编译运行</div>
                        <div class="button-page" id="show-more-buttons" onclick="showMoreButtons()"><i
                                class="fa fa-caret-down"></i> 更多
                        </div>
                        <a href="help.html#stra-setting" target="_blank">
                            <i class="fas fa-info-circle tooltip">
                                <span class="tooltiptext">回测设置秘笈</span>
                            </i>
                        </a>
                    </div>
                    <div class="res-button-group" id="more-res-button-group">
                        <div id="more-res-buttons">
                            <div>
                                撮合方式 <select ng-model="matchingType">
                                <option value="current_bar">当前bar收盘</option>
                                <option value="next_bar">下一bar开盘</option>
                            </select>
                                &nbsp;&nbsp;&nbsp;&nbsp;佣金倍率<input class="num-box" ng-model="commissionMultiplier"/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;滑点<input class="num-box" ng-model="slippage"/>
                            </div>
                            <div>
                                <!--<div class="button-green" ng-click="loadOverReturnLine()">-->
                                <!--<i class="fa fa-leaf"></i> 参数调优-->
                                <!--</div>-->
                                基准合约 <input class="benchmark-input-box" ng-model="benchmark"/>
                                &nbsp;&nbsp;&nbsp;&nbsp;参数调优&nbsp;<input type="checkbox"/>：
                                <input class="num-box" ng-model="lowp"/> ~ <input
                                    class="num-box" ng-model="highp"/>
                                <i class="fas fa-exclamation-circle tooltip">
                                    <span class="tooltiptext">注意: 选择"参数调优"功能必须设置参数上限和参数下限，且可能导致回测速度变慢。</span>
                                </i>
                            </div>
                        </div>
                        <table id="res-figure-area" class="stra-res-table">
                            <tr>
                                <th>回测收益</th>
                                <td id="backtestReturns">--</td>
                                <th>回测年化收益</th>
                                <td id="backtestAnnualizedReturns">--</td>
                                <th>基准收益</th>
                                <td id="benchReturns">--</td>
                                <th>基准年化收益</th>
                                <td id="benchAnnualizedReturns">--</td>
                            </tr>
                            <tr>
                                <th>Alpha</th>
                                <td id="alpha">--</td>
                                <th>Beta</th>
                                <td id="beta">--</td>
                                <th>Sharpe</th>
                                <td id="sharpe">--</td>
                                <th>Sortino</th>
                                <td id="sortino">--</td>
                            </tr>
                            <tr>
                                <th>Info Ratio</th>
                                <td id="infoRatio">--</td>
                                <th>Volatility</th>
                                <td id="volatility">--</td>
                                <th>最大回撤</th>
                                <td id="maxDrawdown">--</td>
                                <th>跟踪误差</th>
                                <td id="trackingError">--</td>
                                <!--<th>下行风险</th>-->
                                <!--<td id="downsideRisk">暂无</td>-->
                            </tr>
                        </table>
                    </div>

                    <div class="stra-chart-area">
                        <div id="return-spin">
                            <i class="fas fa-spinner fa-pulse"></i>
                            <span>加载中...</span>
                        </div>
                        <div id="return-chart" style="weight: 100%; height: 100%;"></div>
                    </div>

                    <div class="log-title">
                        <i class="fa fa-file-alt"></i> 错误日志
                    </div>
                    <div class="log-area">
                        <div id="log-content">
                            <p>暂无错误 :) </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div style="clear:both; margin-bottom: 100px;"></div>

    <!--<div style="clear: both;" onselectstart="return false;">-->
    <!--<div align="center">-->
    <!--<div style="padding-top: 5%;">-->
    <!--<div class="stock-name" id="overreturn-area">超额收益率</div>-->
    <!--<div id="overreturn-spin">-->
    <!--<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>-->
    <!--<span>加载中...</span>-->
    <!--</div>-->

    <!--<div id="overreturn-chart" style="weight: 100%; height: 400%;"></div>-->
    <!--</div>-->

    <!--<div style="padding-top: 5%;">-->
    <!--<div class="stock-name" id="win-area">策略胜率</div>-->
    <!--<div id="win-spin">-->
    <!--<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>-->
    <!--<span>加载中...</span>-->
    <!--</div>-->

    <!--<div id="win-chart" style="weight: 100%; height: 400%;"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div id="stra-page-hint" class="page-hint">提示</div>
</header>

<footer>
    <div id="footer" onselectstart="return false;">
        <div id="footer-div">
            <div>
                <div class="big-li">
                    <h4>关于</h4>
                    <p>
                        <a href="mailto:feedback@trillionaire.me?subject=[FeedBack]">
                            <i class="fa fa-envelope"></i> 联系我们
                        </a>
                    </p>

                    <p>
                        <a href="log.html">
                    <p><i class="fa fa-file-text-o"></i> 系统更新日志</p>
                    </a>
                    </p>
                </div>

                <div class="big-li">
                    <h4>帮助</h4>
                    <p>
                        <a href="api.html">
                            <i class="fa fa-file-o"></i> API文档
                        </a>
                    </p>

                    <p>
                        <a href="help.html">
                            <i class="fa fa-file"></i> 帮助文档
                        </a>
                    </p>

                </div>

                <div class="big-li">
                    <h4>反馈</h4>
                    <p>
                        <a href="mailto:feedback@trillionaire.me?subject=[FeedBack]">
                            <i class="fa fa-comments-o"></i> 反馈
                        </a>
                    </p>

                </div>
            </div>
        </div>

        <div id="cr">Copyright &copy; 2017 All Rights Reserved</div>
    </div>
</footer>
</body>

<script src="js/scrollReveal.js"></script>
<script>
    (function () {
        window.scrollReveal = new scrollReveal({
            reset: false,
            move: '50px'
        });
    })();

</script>

<script src="js/jquery.backstretch.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/date-picker.js"></script>

<script>
    $("#result-area").hide();
    $("#return-area").hide();
    $("#overreturn-area").hide();
    $("#win-area").hide();
    $("#overreturn-chart").hide();
    $("#win-chart").hide();

    $("#save-spin").hide();
    $("#save-already").hide();
    $("#stra-name-input").hide();
    $("#stra-name").hide(function () {
        namefade = 1;
    });
    $("#return-spin").hide();
    $("#overreturn-spin").hide();
    $("#win-spin").hide();
    $("#more-res-buttons").hide();

</script>

<script src="js/user/log_state.js"></script>
<script src="js/ace/ace.js"></script>
<script src="js/strategy/editor.js"></script>
<script src="js/charts/return-line.js"></script>
<script src="js/charts/overreturn-line.js"></script>
<script src="js/charts/win-line.js"></script>
<script src="js/strategy/strategy.js"></script>
<script src="js/strategy/strategy_content.js"></script>
<script src="js/strategy/strategy_open.js"></script>

<script>
    $(document).ready(loadStraContent);

</script>

</html>
